*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(19, 19, 19);
}

.nav-container{
  background-color: rgb(13, 13, 13);
  margin: 0 auto;
  max-width: 1300px;
  padding: 1rem;
}
.nav-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav-content h1{
  font-family: Arial;
  color: rgb(1, 251, 251);
}

.nav-content p{
  font-family: Arial;
  color: rgb(155, 155, 155);

}

.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.main-content li{
  font-size: 1.5rem;
  font-family: monospace;
  color: rgb(237, 252, 252);
  margin-top: 0.5rem;
}

